[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
robotpy = {extras = ["commands2", "ctre", "navx", "sim"], version = "*"}
matplotlib = "*"

[dev-packages]

[requires]
python_version = "3.10"
